body {
  font-family: Arial, sans-serif; }

.pd-r {
  padding-right: 0; }

.pd-l {
  padding-left: 0; }

.pd-r-md {
  padding-right: 25px; }

a {
  text-decoration: none;
  color: #757575; }
  a:hover {
    text-decoration: none;
    color: #757575; }

.header-top {
  background-color: #dbdbdb;
  padding-top: 65px;
  padding-bottom: 65px; }

.header-top-feedback .header-top-feedback-tel {
  font-size: 34px;
  font-weight: 300; }
  .header-top-feedback .header-top-feedback-tel a {
    color: #757575; }
    .header-top-feedback .header-top-feedback-tel a:hover {
      color: #757575; }

.header-top-feedback .header-top-feedback-btn {
  border: none;
  background: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #757575;
  border-bottom: 2px dashed #757575;
  cursor: pointer;
  line-height: 1; }

.modal-header {
  text-align: center;
  border-bottom: 0;
  display: inline-block;
  padding-bottom: 0; }

.modal-content {
  width: 460px;
  border-radius: 0;
  position: relative;
  padding-bottom: 15px;
  padding-top: 30px; }
  .modal-content .close {
    position: absolute;
    right: -27px;
    top: -27px; }
  .modal-content .feedback-title {
    text-transform: uppercase;
    color: #535353;
    font-size: 20px;
    font-weight: bold; }

.feedback-modal-text {
  font-size: 13px;
  color: #54575a;
  padding-bottom: 3px; }

.modal-body {
  text-align: center;
  padding-top: 0; }

.feedback-modal-input {
  width: 340px;
  height: 40px; }

.feedback-bd {
  border: none;
  border: 1px solid #c8c8c8;
  color: #54575a;
  padding-left: 10px; }

.feedback-message {
  width: 340px;
  height: 140px; }

.feedback-modal-email {
  -webkit-box-shadow: 0 0 20px 2px #dca6ac inset;
          box-shadow: 0 0 20px 2px #dca6ac inset;
  border-color: #e98698; }

.feedback-modal-email::-webkit-input-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-email:-moz-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-email::-moz-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-email:-ms-input-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: none;
  background-color: #767676;
  border: none;
  border: 1px solid #858585;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer; }

.navbar-expand-xl {
  padding: 0;
  padding-right: 35px;
  padding-left: 35px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-top-menu {
  background-color: #767676;
  padding-top: 15px;
  padding-bottom: 15px; }

.navbar-nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navbar-light .navbar-nav .nav-link {
  font-size: 30px;
  line-height: 24px;
  padding-right: 10px;
  color: #fff;
  padding: 0;
  border-bottom: 2px solid transparent; }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
    color: #fff;
    border-bottom: 2px solid #fff; }

.nav-item {
  padding-right: 18px;
  border-right: 2px solid #fff; }
  .nav-item:last-child {
    border-right: none; }

.header-top {
  background-color: #dbdbdb;
  padding-top: 65px;
  padding-bottom: 65px; }

.header-top-feedback .header-top-feedback-tel {
  font-size: 34px;
  font-weight: 300; }
  .header-top-feedback .header-top-feedback-tel a {
    color: #757575; }
    .header-top-feedback .header-top-feedback-tel a:hover {
      color: #757575; }

.header-top-feedback .header-top-feedback-btn {
  border: none;
  background: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #757575;
  border-bottom: 2px dashed #757575;
  cursor: pointer;
  line-height: 1; }

.modal-header {
  text-align: center;
  border-bottom: 0;
  display: inline-block;
  padding-bottom: 0; }

.modal-content {
  width: 460px;
  border-radius: 0;
  position: relative;
  padding-bottom: 15px;
  padding-top: 30px; }
  .modal-content .close {
    position: absolute;
    right: -27px;
    top: -27px; }
  .modal-content .feedback-title {
    text-transform: uppercase;
    color: #535353;
    font-size: 20px;
    font-weight: bold; }

.feedback-modal-text {
  font-size: 13px;
  color: #54575a;
  padding-bottom: 3px; }

.modal-body {
  text-align: center;
  padding-top: 0; }

.feedback-modal-input {
  width: 340px;
  height: 40px; }

.feedback-bd {
  border: none;
  border: 1px solid #c8c8c8;
  color: #54575a;
  padding-left: 10px; }

.feedback-message {
  width: 340px;
  height: 140px; }

.feedback-modal-email {
  -webkit-box-shadow: 0 0 20px 2px #dca6ac inset;
          box-shadow: 0 0 20px 2px #dca6ac inset;
  border-color: #e98698; }

.feedback-modal-email::-webkit-input-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-email:-moz-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-email::-moz-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-email:-ms-input-placeholder {
  color: #c7878e;
  font-style: italic;
  font-size: 12px; }

.feedback-modal-btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: none;
  background-color: #767676;
  border: none;
  border: 1px solid #858585;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer; }

.navbar-expand-xl {
  padding: 0;
  padding-right: 35px;
  padding-left: 35px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-top-menu {
  background-color: #767676;
  padding-top: 15px;
  padding-bottom: 15px; }

.navbar-nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navbar-light .navbar-nav .nav-link {
  font-size: 30px;
  line-height: 24px;
  padding-right: 10px;
  color: #fff;
  padding: 0;
  border-bottom: 2px solid transparent; }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
    color: #fff;
    border-bottom: 2px solid #fff; }

.nav-item {
  padding-right: 18px;
  border-right: 2px solid #fff; }
  .nav-item:last-child {
    border-right: none; }

.carousel-inner {
  max-height: 400px; }

.carousel-control-prev {
  left: 20%; }

.carousel-control-next {
  right: 21%; }

.main-cont-breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px; }
  .main-cont-breadcrumbs a {
    font-size: 14px;
    color: #757575;
    border-bottom: 1px solid #757575; }
  .main-cont-breadcrumbs .main-cont-breadcrumbs-line {
    padding-right: 5px;
    padding-left: 5px;
    color: #757575; }

.main-cont-breadcrumbs .main-cont-breadcrumbs-active {
  border-bottom: none; }

.main-cont-catalog-sidebar {
  margin-bottom: 100px; }

.main-cont-catalog-sidebar {
  font-size: 14px;
  line-height: 30px; }
  .main-cont-catalog-sidebar li {
    color: #757575; }

.main-cont-catalog-sidebar-active {
  border-bottom: 1px solid #757575; }

.col-black {
  color: #101820;
  font-weight: bold; }

.blk-home-equipment {
  font-size: 11px;
  line-height: 22px;
  list-style-type: disc;
  padding-left: 24px; }

.product {
  width: 250px;
  background-color: #dbdbdb;
  padding: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  display: inline-block; }

.product-text {
  color: #757575;
  padding-top: 20px;
  line-height: 1.2;
  margin-bottom: 50px;
  font-family: Arial, sans-serif; }

.blk-product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product-price {
  font-size: 28px;
  color: #464646;
  position: relative; }

.product-price-icon {
  padding-top: 7px;
  padding-right: 15px; }

.hr-line {
  border-color: #767676;
  margin-bottom: 30px; }

.main-cont-blk-text {
  padding-bottom: 85px; }

.main-cont-text {
  font-size: 13px;
  color: #000; }

.main-catalog {
  padding-bottom: 30px; }

.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
  border-radius: 0; }

.main-catalog-blk-namber-page {
  padding-top: 15px; }

.pagination-sm .page-link {
  border: none;
  color: #757575;
  font-size: 13px;
  padding-right: 18px; }
  .pagination-sm .page-link:hover {
    background: none; }
  .pagination-sm .page-link:focus {
    color: #464646;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }

footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #767676;
  font-size: 12px;
  color: #fff; }

.footer-copyright a {
  color: #fff; }

.footer-copyright abbr {
  text-decoration: none; }

.footer-menu li {
  padding-bottom: 8px; }

.footer-menu a {
  color: #fff;
  border-bottom: 1px solid #fff;
  line-height: 1; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .carousel-control-prev {
    left: 5%; }
  .carousel-control-next {
    right: 5%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-top {
    background-color: #dbdbdb;
    padding-top: 20px;
    padding-bottom: 30px; }
  .navbar-nav {
    margin-top: 30px; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 30px;
    line-height: 1;
    padding-right: 10px;
    color: #fff;
    padding: 0;
    border-bottom: none;
    padding-bottom: 20px; }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:active,
  .navbar-light .navbar-nav .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: none; }
  .nav-item {
    padding-right: 0;
    border-right: none; }
  .main-cont-catalog-sidebar {
    margin-bottom: 30px; }
  .blk-price-list {
    margin-bottom: 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-catalog {
    padding-bottom: 0; }
  .main-cont-blk-text {
    padding-bottom: 15px; } }

/* Extra Small Devices, Phones */
